{% extends 'layout.html' %}

{% block title %}
Asignar Jurado | Concurso de robótica
{% endblock %}

{% load static %}

{% block content %}
<div class="container p-4">
    <form id="crearCompetenciaForm" method="post"
        action="{% url 'competencia:asignar_jurado' competencia_id=competencia.id %}">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="row p-3">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <h2>{{ competencia.NombreCompetencia }}</h2>
                </div>
                <small id="registroHelp" class="form-text text-muted"></small>
            </div>
        </div>

        <div class="row p-3">
            <div class="col">
                <div class="form-group">
                    <h4>Descripción</h4>
                    <p>{{ competencia.DescipcionCompetencia }}</p>
                </div>
            </div>
        </div>

        <div class="row p-3">
            <div class="col">
                <div class="form-group">
                    <h4>Categorías</h4>
                    <select id="inputCategoria" class="form-control" name="categoria_seleccionada">
                        <option selected>Seleccionar...</option>
                        {% for categoria in categorias|dictsort:"id" %}
                        <option value="{{ categoria.id }}">{{ categoria.NombreCategoria }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <h4>Áreas de Evaluación</h4>
                    <select id="inputAreasEvaluacion" class="form-control" name="AreasEvaluacion_seleccionada">
                        <option selected>Seleccionar...</option>
                        {% for categoria in categorias %}
                        {% for area_evaluacion in categoria.areas_evaluacion %}
                        <option class="area-option" value="{{ area_evaluacion.id }}"
                            data-categoria="{{ categoria.id }}">
                            {{ area_evaluacion.NombreAreaEvaluacion }}
                        </option>
                        {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row p-3">
            <div class="col">
                <h4>Selecionar jurador</h4>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Buscar"
                        aria-label="Search" name="busqueda">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Enviar</button>
                </div>
            </div>
        </div>

        {% for categoria in categorias %}
        {% for area_evaluacion in categoria.areas_evaluacion %}
        {% if area_evaluacion.asignaciones.all %}
        <h4>{{ categoria.NombreCategoria }}</h4>
        <h5>{{ area_evaluacion.NombreAreaEvaluacion }}</h5>
        <ul>
            {% for asignacion in area_evaluacion.asignaciones.all %}
            <li>{{ asignacion.usuario.Nombre1 }} {{ asignacion.usuario.Apellido1 }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endfor %}
        {% endfor %}



        <div class="row p-3">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <!-- Actualiza el botón "Crear competencia" con un identificador único -->
                    <a class="btn btn-primary" id="crearCompetenciaBtn" href="#">Siguiente</a>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            $('#inputCategoria').change(function () {
                var categoriaSeleccionada = $(this).val();

                $('#inputAreasEvaluacion option').hide();
                $('#inputAreasEvaluacion option[data-categoria="' + categoriaSeleccionada + '"]').show();

                $('#inputAreasEvaluacion').val('Seleccionar...'); // Restablecer la selección al cambiar la categoría
            });

            // Ocultar todas las áreas al cargar la página
            $('#inputAreasEvaluacion option').hide();
        });
    </script>
</div>
{% endblock %}