{% extends 'layout.html' %}

{% block title %}
  Crear categoria | Concurso de robótica
{% endblock %}

{% load static %}

{% block content %}
  <div class="container p-4">
    <form id="crearCompetenciaForm" method="post" action="{% url 'competencia:crear_categoria' competencia_id=competencia_id %}">
      {% csrf_token %}
      <div class="row p-3">
        <div class="col">
          <div class="d-flex justify-content-center">
            <h2>Crear categoria</h2>
          </div>
          <small id="registroHelp" class="form-text text-muted">Es rápido y fácil.</small>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="form-group">
            <label for="nombre_categoria">Nombre de la categoria</label>
            <input type="text" class="form-control" id="nombre_categoria" name="nombre_categoria" />
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="form-group">
            <label for="descripcion_categoria">Descripción</label>
            <textarea class="form-control" id="descripcion_categoria" rows="4" name="descripcion_categoria"></textarea>
          </div>
        </div>
      </div>

      <div class="row p-3">
        <div class="col">
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" id="crearCategoriaBtn">Siguiente</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
