{% extends 'layout.html' %}

{% block title %}
  Crear regla | Concurso de robótica
{% endblock %}

{% load static %}

{% block content %}
  <div class="container p-4">
    <form id="crearCompetenciaForm" method="post" action="{% url 'competencia:crear_regla' competencia_id=competencia_id categoria_id=categoria_id %}">
      {% csrf_token %}
      <div class="row p-3">
        <div class="col">
          <div class="d-flex justify-content-center">
            <h2>Crear Regla</h2>
          </div>
          <small id="registroHelp" class="form-text text-muted">Es rápido y fácil.</small>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="form-group">
            <label for="nombre_regla">Nombre de la regla</label>
            <input type="text" class="form-control" id="nombre_regla" name="nombre_regla" />
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="form-group">
            <label for="descripcion_regla">Descripción</label>
            <textarea class="form-control" id="descripcion_regla" rows="4" name="descripcion_regla"></textarea>
          </div>
        </div>
      </div>

      <div class="row p-3">
        <div class="col">
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" id="crearReglaBtn">Crear Regla</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
