{% extends 'layout.html' %}

{% block title %}
  Crear Equipo | Concurso de robótica
{% endblock %}

{% load static %}

{% block content %}
<section style="height: 80; padding: 5%;">
  <div class="container p-4">
    <form id="crearCompetenciaForm" method="post" action="{% url 'competencia:crear_equpo_logistica' competencia_id=competencia_id %}">
      {% csrf_token %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <div class="row p-3">
        <div class="col">
          <div class="d-flex justify-content-center">
            <h2>Crear Equipo de Logistica</h2>
          </div>
          <small id="registroHelp" class="form-text text-muted">Es rápido y fácil.</small>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="form-group">
            <label for="nombre_equpo_logistica">Nombre del Equipo</label>
            <input type="text" class="form-control" id="nombre_equpo_logistica" name="nombre_equpo_logistica" />
          </div>
        </div>
      </div>
      <div class="row p-3">
        <div class="col">
          <div class="form-group">
            <label for="descripcion_equpo_logistica">Descripción del equipo</label>
            <textarea class="form-control" id="descripcion_equpo_logistica" rows="4" name="descripcion_equpo_logistica"></textarea>
          </div>
        </div>
      </div>

      <div class="row p-3">
        <div class="col">
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" id="crearEquipoBtn">Crear Equipo</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
