{% extends 'base2.html' %}

{% block title %}
Tabla de resultados | Concurso de robótica
{% endblock %}

{% load static %}

{% block content %}
<div class="container py-5">
    <div class="card text-center shadow">
        <div class="card-body">
            <h5 class="card-title">¡Sin incripciones!</h5>
            <p class="card-text">En el momento no existe ninguna inscripción para esta categoría</p>
            <a href="/" class="btn btn-primary">Ir a la página principal</a>
        </div>
    </div>
</div>
{% endblock %}
