{% load static %}

<nav class="navbar navbar-light">
  <a class="navbar-brand fw-bold fst-italic" href="/">CONCURSO ROBÓTICA</a>
  <div class="dropdown dropleft">
    <a class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="{% static 'img/Menu.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" />
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% if usuario_id %}
        <li>
          <a class="dropdown-item" href="{% url 'login:cerrar_sesion' %}">Cerrar sesión</a>
        </li>
          {% if usuario.tipo_usuario.NombreTipoUsuario == "Administrador" %}
          <li>
            <a class="dropdown-item" href="{% url 'competencia:prueba' %}">Crear competencia</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'competencia:gestionar_competencias' %}">Gestionar competencias</a>
          </li>
          {% endif %}
      {% else %}
        <li>
          <a class="dropdown-item" href="{% url 'login:prueba' %}">Iniciar Sesión</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'login:registro' %}">Crear cuenta</a>
        </li>
      {% endif %}
      <li>
        <a class="dropdown-item" href="{% url 'competencia:mostrar_competencias' %}">Competencias Disponibles</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'acerca_de' %}">Acerca de</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Historial</a>
      </li>
    </ul>
  </div>
</nav>