{% load static %}


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand fw-bold fst-italic" href="/">CONCURSO ROBÓTICA</a>

  <div class="dropdown">
    <a class="navbar-brand" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://cdn-icons-png.flaticon.com/256/8888/8888495.png" width="30" height="30" class="d-inline-block align-top" alt="" /></a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li>
        <a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'login:registro' %}">Crear cuenta</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Acerca de</a>
      </li>
      <li>
        <a class="dropdown-item" href="#">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
