{% extends 'layout.html' %}

{% load static %}

{% block content %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}

  <div class="row p-3">
    <div class="col">
      <div class="d-flex justify-content-center">
        <h2>Iniciar sesión</h2>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="id_username">Email address</label>
    <input type="text" class="form-control" id="id_username" name="username" aria-describedby="emailHelp" />
    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
  </div>
  <div class="form-group">
    <label for="id_password">Password</label>
    <div class="input-group">
      <input type="password" class="form-control" id="contrasenaInput" name="password" />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" id="toggleContrasenaBtn"
          onclick="toggleContrasena()">Mostrar</button>
      </div>
    </div>
    <script src="{% static 'js/mostrar_contrasena.js' %}"></script>
  </div>
  <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  <div class="row p-3 justify-content-center">
    <div class="d-flex">
      <a class="dropdown-item" href="{% url 'login:registro' %}">Crear cuenta</a>
      <a class="dropdown-item" href="#">Recuperar contraseña</a>
    </div>
  </div>
</form>

{% endblock %}