{% extends 'layout.html' %}

{% block content %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="id_username">Email address</label>
    <input type="text" class="form-control" id="id_username" name="username" aria-describedby="emailHelp" />
    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
  </div>
  <div class="form-group">
    <label for="id_password">Password</label>
    <input type="password" class="form-control" id="id_password" name="password" />
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="id_remember" name="remember" />
    <label class="form-check-label" for="id_remember">Recuérdame</label>
  </div>
  <button type="submit" class="btn btn-primary">Iniciar sesión</button>
</form>

<script>
  const checkbox = document.getElementById('exampleCheck1')
  const passwordInput = document.getElementById('exampleInputPassword1')

  checkbox.addEventListener('change', function () {
    if (this.checked) {
      passwordInput.type = 'text'
    } else {
      passwordInput.type = 'password'
    }
  })
</script>
{% endblock %}