{% extends 'layout.html' %}

{% block title %}
Acerca de | Concurso de robótica
{% endblock %}

{% load static %}

{% block content %}
<div class="container p-4">
    <div class="row p-3">
        <div class="col text-center">
            <h2>Acerca de nuestro Sistema de Competencias de Robótica</h2>
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            <p>
                Bienvenido a nuestro Sistema de Competencias de Robótica, una plataforma diseñada para la gestión
                integral de competencias de robótica educativa. Nuestra misión es ofrecer una experiencia completa y
                organizada para competidores, entrenadores y administradores.
            </p>
        </div>
    </div>
    <hr/>
    <div class="col">
        <h4>Nuestro Compromiso</h4>
    </div>

    <div class="col">
        <p>Estamos comprometidos con brindar una plataforma confiable, actualizada y funcional para hacer que la
            experiencia de las competencias de robótica sea gratificante y exitosa para todos los involucrados.</p>
    </div>

    <hr/>

    <div class="row p-3">
        <div class="col">
            <h3>Desarrolladores del sistemas de información</h3>
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Lubeimar.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lubeimar Eduardo Gallego Ruiz</h5>
                    <p class="card-text">Co-investigador</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Millan.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Edwin Eduardo Millan Rojas</h5>
                    <p class="card-text">Investigador Principal</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Janer.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Janer Fabian Muñoz Bolibar</h5>
                    <p class="card-text">Desarrollador Full Stack</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Jesus.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diver Jesus lopez Velasquez</h5>
                    <p class="card-text">Desarrollador Full Stack</p>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row p-3">
        <div class="col">
            <h3>Colaboradores del Semillero R3D</h3>
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Esteban.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Edinson Esteban Ramos Trujillo</h5>
                    <p class="card-text">Equipo de Audiovisuales</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Angie.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Angie Alejandra Velasquez Calderón</h5>
                    <p class="card-text">Equipo de Audiovisuales</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Janer.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Janer Fabian Muñoz Bolibar</h5>
                    <p class="card-text">Desarrollador Full Stack</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Michell.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Karen Michell Claros Ballesteros</h5>
                    <p class="card-text">Equipo de Audiovisuales</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Yuliana.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Yuliana Andrea Trejos Bobadilla</h5>
                    <p class="card-text">Equipo de Audiovisuales</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Nicolas.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nicolas Montes Oyola</h5>
                    <p class="card-text">Equipo de Audiovisuales</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-3">
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Diva.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diva Natalia Vargas Tovar</h5>
                    <p class="card-text">Lider de Logística</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Camila.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jasbleidy Camila Rojas Hernández</h5>
                    <p class="card-text">Equipo de Logística</p>
                </div>
            </div>
        </div>
        <div class="col">
            <!-- Sección de tarjetas para los participantes -->
            <div class="card text-center shadow p-4 d-flex align-items-stretch h-100" style="width: 15rem;">
                <img src="{% static 'img/Colaboradores/IMG_Jesus.jpeg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diver Jesus lopez Velasquez</h5>
                    <p class="card-text">Desarrollador Full Stack</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}